<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBMS</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

    <nav class="nav">
        <div>
            <p><strong>BMS by Riad</strong></p>
        </div>

        <div class="menu">
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/report">Project Report</a>
        </div>
    </nav>