<%- include("partials/header") %>

<main class="about">

    <h1 class="title">Bank Management System</h1>

    <h2> Riad Hossain Bhuiya</h2>
    <h2>152-15-5841</h2>

    <h3>Technologies used:</h3>
    
    <section class="stack">

        <div>
            <img src="/public/img/nodejs.png" alt="">
            <p>Node JS</p>
        </div>

        <div>
            <img src="/public/img/express.png" alt="">
            <p>Express</p>
        </div>

        <div>
            <img src="/public/img/ejs.webp" alt="">
            <p>EJS</p>
        </div>

        <div>
            <img src="/public/img/mysql.png" alt="">
            <p>MySQL</p>
        </div>
    </section>

</main>

<%- include("partials/footer") %>