<%- include("partials/header") %>

<main class="admin">

    <h1 class="title">Admin Dashboard</h1>

    <p class="query">Query: <%= query %></p>

    <div class="links">
        <a href="/admin/branches/"><div>Branches</div></a>
        <a href="/admin/accounts/"><div>Accounts</div></a>
        <a href="/admin/loans/"><div>Loans</div></a>
    </div>


</main>

<%- include("partials/footer") %>