<%- include("partials/header") %>

<h1>Welcome</h1>

<main class="hmain">
    <div class="type">
        <img src="/public/img/" alt="">
        <h2>Employee</h2>
    </div>
    <div class="type">
        <img src="/public/img/" alt="">
        <h2>Customer</h2>
    </div>
</main>

<%- include("partials/footer") %>