<%- include("partials/header") %>

    <h1>Login</h1>

    <form id="login" action="/login/welcome" method="post">
        <label for="email">E-mail</label>
        <input type="text" id="email" name="email" required>

        <label for="pass">Password</label>
        <input type="password" id="pass" name="pass" required>

        <button>Login</button>
    </form>

    <a href="/register">Register</a>

<%- include("partials/footer") %>