<%- include("partials/header") %>

<main class="login">
    <h1 class="title">Login</h1>

    <form id="login" action="/login/welcome" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="pass">Password</label>
        <input type="password" id="pass" name="pass" required>

        <button>Login</button>
    </form>
    
    <a href="/register"><button>Register</button></a>

</main>

<%- include("partials/footer") %>