<%- include("partials/header") %>

<main class="register">
    <h1 class="title">Register</h1>

    <form id="register" action="/register" method="post">
        <label for="fname" id="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required>

        <label for="lname" id="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required>

        <label for="email">E-mail:</label>
        <input type="text" id="email" name="email" required>

        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" required>

        <label for="dob" id="dob">Birthday:</label>
        <input type="date" id="dob" name="dob" required>

        <label for="phone" id="phone">Phone:</label>
        <input type="text" id="phone" name="phone" maxlength="11" required>

        <label for="address" id="address">Address:</label>
        <input type="text" id="address" name="address" required>

        <button>Register</button>
    </form>

    <a href="/login"><button>Login</button></a>
</main>

<%- include("partials/footer") %>