<%- include("partials/header") %>

<main class="send">

    <h1 class="title">Amount sent successfully.</h1>

    <a href="/read/transaction/<%= uid %>">Back</a>
</main>

<%- include("partials/footer") %>