* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	width: 100%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* home */
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
}

button,
input,
select {
	height: 1.8rem;
	border: none;
	border-radius: 1rem;
}

button:hover {
	cursor: pointer;
}

input,
select {
	background-color: #e9e9ed;
	padding: 0 1rem;
}

.title {
	margin: 2rem auto;
}

.hmain {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
	min-height: 100%;
}

.type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 1rem;
	background-color: aliceblue;
	margin: 2rem 2rem;
	text-decoration: none;
}

.type > div:hover {
	border-radius: 1rem;
}
/* login */

.login,
.welcome,
.read,
.register,
.admin,
.about,
.report {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#login, #register {
	display: flex;
	flex-direction: column;
	width: 25%;
	min-width: 200px;
}

#login > input,
#login > button,
#register > input {
	margin-bottom: 0.8rem;
}

#login > button,
#register > button,
.transaction > button,
thead {
	color: white;
	background-color: rgb(42, 142, 255);
}

#login > button:hover,
#register > button:hover {
	background-color: rgb(77, 159, 253);
}

.login > a,
.register > a {
	width: 25%;
	min-width: 200px;
	height: fit-content;
}

.login > a > button,
.register > a > button {
	width: 100%;
}

/* links */

.links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.links > a {
	width: 150px;
	height: 150px;
	background-color: aliceblue;
	margin: 0.5rem;
	text-align: center;
	text-decoration: none;
	padding: auto;
	border-radius: 0.8rem;
}

.links > a:hover,
.hmain > a > :hover {
	background-color: rgb(194, 227, 255);
}

.links > a > div,
.hmain > a > div {
	margin: auto 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* query */

.query {
	color: rgb(0, 182, 214);
	margin-bottom: 0.8rem;
	width: 80%;
	text-align: center;
}

/* register */

#register, .register{
	margin-bottom: 0.8rem;
}

#register > button {
	margin-top: 1rem;
}

/* transaction */
.transaction {
	margin-bottom: 1rem;
}

.transaction > button {
	width: 5rem;
}

#receiver, #amount {
	width: 10rem;
}

/* table */
table {
	margin-bottom: 2rem;
}

td {
	width: 8rem;
	margin: 0;
	border-bottom: solid black 1px;
	text-align: center;
	padding: 1rem;
}

thead > tr >td {
	border-bottom: none;
	padding: 0.5rem;
}

/* nav */

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: white;
	border-bottom: 1px solid;
	position: sticky;
	top: 0;
	z-index: 5;
}

.menu > a {
	margin: 0 0.3rem;
	text-decoration: none;
}

/* stack */

.stack {
	display: flex;
	flex-direction: row;
}

.stack > div > img {
	width: 150px;
}

@media (max-width: 768px) {
    .links, .hmain {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
}